body{
    background: #FFF!important;
}


.product {
    background-color: var(--green);
    position: relative;
}

.product .container {
    max-width: 900px;
    padding-top: 73px;
    padding-bottom: 106px;
    position: relative;
    z-index: 1;
}


.header .container,
.service .container,
footer .container{
    max-width: 1300px;
}

.product__head {
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding-bottom: 46px;
}

.product .section__title {
    text-align: start;
    margin: 0;
}

.page__links {
    margin-top: 23px;
    display: flex;
    gap: 5px;
    cursor: pointer;
}

.page__links a,
.page__links span {
    display: inline-block;
    color: #FFF;
    cursor: pointer !important;
    opacity: 0.8;
    cursor: pointer;
}

.product .active {
    opacity: 1;
}

.product__right {
    margin-top: 22px;
}

.product__right {
    background: #FFE5CE;
    opacity: 0.9;
    border-radius: 10px;
    width: 100%;
    max-width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.product__right i {
    position: absolute;
    right: 17px;
    transition: 500ms;
    color: #006157;
    cursor: pointer;
}

.product__right select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    cursor:pointer;
    text-overflow: '';
    padding: 10px 17px;
    background-color: transparent;
    border: none;
    outline: none;
    width: 100%;
    font-size: 12px;
    color: #006157;
    font-weight: 400;
    line-height: 22px;
}

.product__right select:focus + i {
    transform: rotate(-180deg);
    cursor: pointer;
}

.product__right select option{
    border-radius: 10px;
    cursor: crosshair;
}

.product__ul {
    display: flex;
    align-items: center;
    gap: 35px;
    list-style: none;
    border-bottom: 1.19314px solid #f9e0c86d;
}

.product__li {
    font-style: normal;
    font-weight: 400;
    font-size: 14.3177px;
    line-height: 17px;
    color: #F9E0C8;
    opacity: 0.5;
    padding: 13px;
    transition: all ease 500ms;
    border-bottom: transparent solid 4px;
    cursor:pointer;
}

.tabname-radio:checked+.product__li{
    color: #FAE0C8;
    opacity: 1;
    border-bottom: #FAE0C8 solid 4px;
}

/* .product__li-active {
    color: #FAE0C8;
    opacity: 1;
    border-bottom: #FAE0C8 solid 4px;
} */

.product__cards {
    display: flex;
    flex-wrap: wrap;
    padding: 70px 0;
    gap: 35px;
    justify-content: center;
}

.product__card {
    position: relative;
    background: #FFE2CA;
    opacity: 0.99;
    border-radius: 20px;
    text-align: center;
    padding: 10px 24px 41px;
    max-width: 275px;
    transition: all ease 500ms;
}

.product__card:hover {
    box-shadow: 0px 18px 38px rgba(255, 225, 199, 0.75);

}

.product-text {
    color: #006157;
}





.product__card .modal__label1{
    position: absolute;
    right: -12%;
    top: 20%;
    transition: all ease 500ms;
    display: none;
    cursor: pointer;
}

.product__card .modal__label2 {
    position: absolute;
    right: -11%;
    bottom: 20%;
    display: none;
    transition: all ease 500ms;
    cursor: pointer;
}

.product__card:hover>.modal__label1,
.product__card:hover>.modal__label2 {
    display: inline-block;
}

.pagination-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 36px;
}

.left-arrow,
.right-arrow {
    width: 43px;
    height: 43px;
    border-radius: 50%;
    cursor: pointer;
}

.pagination__items {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 13px;
}

.pagination__item {
    padding: 6px 10px 7px;
    background: #7F9A8A;
    border-radius: 5px;
    font-family: 'Zona Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 23.0975px;
    line-height: 25px;
    text-align: center;
    color: #176B62;
    cursor: pointer;
}

.pagination-radio:checked + .pagination__item{
    background: #F9E0C8;
    transform: scale(1.2);
}

/* modal section */
.modal-section {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    z-index: -2;
}


#modal1:checked + .modal-section{
    z-index: 1;
    background-color: #00000096;
}

[modal1]{
    width: 100%;
    height: 100%;
    background: #006157;
    display: block;
}

.modal-content {
    padding: 70px 116px;
    position: relative;
    background: #FAE0C8;
    width: 888px;
    height: 503px;
    border-radius: 32px;
}

.modal-close-btn {
    position: absolute;
    top: 20px;
    right: 30px;
    color: #006157;
    font-weight: bold;
    font-size: 2rem;
    z-index: 10;
    cursor: pointer;
}

.modal-title {
    font-family: 'Zona Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 37.8095px;
    line-height: 46px;
    max-width: 490px;
    text-transform: uppercase;
    color: #017A6D;
    margin-bottom: 65px;
}

.modal__description {
    font-family: 'Zona Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 21.0118px;
    line-height: 32px;
    color: #017A6D;
}

.modal__description span {
    font-weight: bold;
}

.modal-btn {
    width: 176px;
    height: 55px;
    background: #017A6D;
    border-radius: 27.8157px;
    display: flex;
    align-items: center;
    gap: 23px;
    margin-top: 80px;
    color: #FFF;
}
.modal-btn i{
    display: inline-block;
    background-color: #FFF;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    color: #006157;
}

.modal-image{
    position: absolute;
    top :10px;
    right: -30px;
}

#modal:checked + .modal-section {
    display: none;
}




/* ourservise end */
.servise .container {
    max-width: 90vw !important;
}

@media (max-width:1120px) {
    .product .section__title span {
        display: none;
    }
}

@media (max-width:1050px) {
    .container {
        padding: 0 50px;
    }

    .product .section__title {
        font-size: 35px;
    }

    .product__ul{
        gap: 30px;
    }

    .product__li{
        font-size: 12px;
        
    }
}

@media (max-width:768px) {

    .product__head {
        padding: 0;
    }

    .product .product__wrapper {
        display: block;
        text-align: center;
    }

    .product .section__title,
    .product .productt__text {
        margin: 20px auto;
        text-align: center;
    }

    .product .product__img {
        width: 100%;
        margin-top: 30px;
    }

    .bizning__tajribamiz .content {
        width: 100%;
        max-width: 900px;
        background: #68dbcf85;
        opacity: 1;
        border-radius: 24px;
        padding: 29px 37px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .content__top .section__title {
        font-size: 28px;
    }

    .proisvodstvo__wrapper {
        display: block;
    }

    .international__paper .play__img {
        height: 70px;
        width: 70px;
    }

    .international__text,
    .proisvodstvo__text,
    .card__text {
        font-size: 15px;
    }



    .card__wrapper {
        justify-content: space-around;
    }

    .our__card3 {
        display: none;
    }

    .content__text {
        font-size: 11px;
    }

    .card__title {
        font-size: 15px;
        margin: 21px 0 28px;
    }

    .our__service .card__text {
        font-size: 13px;
    }
}

@media (max-width:420px) {
    .about__text {
        font-size: 16px;
    }

    .about .container {
        padding: 20px 0;
    }

    .international__paper {
        position: relative;
    }

    .international__paper .section__title {
        font-size: 30px;
    }

    .international__paper .play__img {
        position: absolute;
        width: 41px;
        height: 41px;
        top: 20px;
        right: 10px;
    }

    .our__service {
        border: solid red 1px;
        padding: 50px 0;
    }

    .card__title {
        font-size: 13px;
        margin: 21px 0 28px;
    }

    .our__service .card__text {
        font-size: 8px;
        line-height: 16px;
    }
}